@model IEnumerable<AppointmentBooking.Models.InterviewerModel>

@{
    ViewData["Title"] = "Index";
}
<h1 class="text-3xl text-blue-600 font-semibold my-5">Welcome to the Admin Dashboard</h1>


<div class="grid md:grid-flow-col grid-flow-row gap-10 md:gap-20 text-3xl text-white mt-20 mb-32">
    <div class="bg-green-500 text-center py-5 rounded-xl">
        <a asp-action="Create" class="text-decoration-none hover:text-gray-100">Interviewers</a>
    </div>
    <div class="bg-blue-400 text-center py-5 rounded-xl">
        <a asp-action="Index" asp-controller="BookedAppointments"
            class="text-decoration-none hover:text-gray-100">Appointments</a>
    </div>
    <div class="bg-red-400 text-center py-5 rounded-xl">
        <a asp-action="Create" asp-controller="AvailableTimes" class="text-decoration-none hover:text-gray-100">Time
            Slots</a>
    </div>
</div>


@* <p>
    <a asp-action="Create">Create New</a>
    </p> *@

<h1 class="text-xl md:mt-28 md:mb-5 ">Availble Interviewers</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="text-blue-400">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID" class="text-red-600">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
