@model AppointmentBooking.Models.BookedAppointment

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-red-600">Warning !</h1>

<h3 class="text-yellow-500">This action will remove the item permanently!</h3>
<div class="h-screen tracking-wide mt-20">

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dates)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dates)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Interviewer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Interviewer.ID)
        </dd class>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
