@model IEnumerable<AppointmentBooking.Models.AvailableTimes>

@{
    ViewData["Title"] = "Index";
}

<h1>Available Time Slots</h1>


<div class="h-screen mt-20">


    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Interviewer)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Interviewer.FirstName)
                        @Html.DisplayFor(modelItem => item.Interviewer.LastName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID" class="text-blue-400">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID" class="text-red-600">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>